* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden; /* 넘치는 부분에 스크롤 생기지 않게 함 */
}
.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
}
